dist/
flask_mysql.egg-info/
MANIFEST.in


*.prefs
.pydevproject
.idea
.vscode

*.nt.bz2
*.tar.gz
*.tgz

__pycache__/server.cpython-37.pyc
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/routes.cpython-37.pyc
